.notFoundPage {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.errorInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-weight: 600;
    font-size: 50px;
}

.error {
    font-weight: 500;
}

.notFoundPage img {
}